.DS_Store
10_MarkerTracking_OSG/Release/HCI571_MarkerTracking_OSG
*.xcodeproj
*.cmake
*CMakeCache.txt
*/CMakeFiles
*/CMakeScripts
*/DerivedData
*.build
15_Basic_Collision_Detection/Debug
14_Ray-Intersection-Test/Release
*.vcxproj
*.filters
/15_Basic_Collision_Detection/ZERO_CHECK.vcxproj.filters
/15_Basic_Collision_Detection/ZERO_CHECK.vcxproj
/15_Basic_Collision_Detection/HCI571_Collision_Detection_Basic.opensdf
/15_Basic_Collision_Detection/HCI571_Collision_Detection_Basic.sdf
/15_Basic_Collision_Detection/HCI571_Collision_Detection_Basic.sln
/15_Basic_Collision_Detection/HCI571_Collision_Detection_Basic.vcxproj
/15_Basic_Collision_Detection/HCI571_Collision_Detection_Basic.vcxproj.filters
*.opensdf
19_Magic_Lens/models/box.3ds
19_Magic_Lens/models/particle.3ds
